* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  background-color: white;
  margin: 1rem 7rem 0 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: #fff3df;
  border-radius: 50%;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
}

.mobile-header h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f0f4f2;
  height: 60px;
  width: 100%;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 2rem;
}

.heading p {
  flex: 1;
  text-align: center;
  padding: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.heading p.active {
  background-color: white;
  width: 50%;
  margin-left: 0.3rem;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.menu-toggle span {
  width: 30px;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s ease;
}

.left-content {
  display: flex;
  align-items: center;
}

.left-content h2 {
  padding-left: 20px;
}

.right-content img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.inquiry {
  border-radius: 8px;
  border: 4px solid #98dcaf;
  background: #03a84e;
  margin-top: 2rem;
  color: white;
  cursor: pointer;
}

.inquiry h2,
.inquiry p {
  padding: 30px 0 0 40px;
}

.image {
  display: flex;
  align-items: end;
  justify-content: end;
}

.food-details {
  border-radius: 8px;
  border: 1px solid #6ece8a;
  background: #f6fffa;
}

.food-details button {
  display: inline-flex;
  height: 24px;
  padding: 6px;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #e9fbf2;
}

.line {
  height: 1px;
  width: 87%;
  margin: 35px;
  background: #ffda9f;
}

.line2 {
  height: 1px;
  width: 87%;
  margin: 35px;
  background: #03a84e;
}

.line3 {
  height: 1px;
  width: 100%;
  margin-top: 3rem;
  background: #8aa398;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}

.cards {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 540px;
  transition: ease-in all 0.5s;
  transition-duration: 300ms;
  cursor: pointer;
}

.cards:hover {
  transform: translateY(-1px);
  transform: scale(0.97);
}

.card-details {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 35px;
}

.card-descr {
  height: 100%;
  display: inline-flex;
  height: 1.5rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.125rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
}

.descr-span {
  color: #0f241b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.descr-p1 {
  color: #03a84e;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.descr-p2 {
  color: #ff9d00;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.time {
  display: flex;
  align-items: start;
  justify-content: start;
  padding-left: 35px;
}

.time-time {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.coloured_2 {
  border-radius: 8px;
  border: 1px solid #ffc260;
  background: #fffbf5;
}

.coloured_1 {
  border-radius: 8px;
  border: 1px solid #6ece8a;
  background: #f6fffa;
}

.food-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.food-image {
  height: auto;
  margin-right: 1rem;
  border-radius: 8px;
}

.food-info {
  display: flex;
  flex-direction: column;
}

.food-info h2 {
  color: #4b6358;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.food-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-icon_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.footer-icon_container ul li {
  margin-left: 15px;
  list-style: none;
}

.footer-icon_container ul li a {
  text-decoration: none;
}

.footer-icon_container ul li a h6 {
  color: #8aa398;
  font-size: 1rem;
  margin-top: 7px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
